.wrapper {
   width: 100%;
   height: auto;
   background-image: url("./img/background 2.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   position: relative;
}

.container {
   min-width: 1500px;
   max-width: 1500px;
   margin: 0 auto;
}

.mini-game {
   width: 138px;
   height: 107px;
   position: fixed;
   bottom: 300px;
   right: 30px;
   cursor: pointer;
   transition: transform 0.3s ease;
   animation: bounce 1s infinite;
   z-index: 10;
}


.method-mb {
   display: none;
}

/* HEADER */

header,
#events {
   width: 100%;
   margin-bottom: 60px;
}

.header-nav {
   margin: 0 auto;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   padding-top: 10px;
}

.header-nav.scrolled {
   width: 100%;
   background-color: #110915;
   padding-top: 5px;
}

.nav-content {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-nav h1 img {
   width: 112px;
   height: 52px;
   margin-top: 12px;
}

.nav-list,
.nav-list-scroll {
   width: fit-content;
   display: flex;
   align-items: center;
   gap: 68px;
}

.nav-list a,
.nav-language span,
.header-content-btn,
.event-text span,
.daily-btn,
.started-btn {
   width: fit-content;
   font-size: 20px;
   font-weight: 700;
   color: #858997;
   line-height: normal;
   text-transform: capitalize;
   cursor: pointer;
}

.nav-list a,
.nav-language span,
.event-text span {
   font-weight: 500;
}

.nav-list a:hover,
.nav-list button a,
.nav-language:hover i,
.nav-language:hover span,
.wrapper button a,
.btn-nav {
   color: #FFFFFF;
   font-weight: 700;
}

.btn-nav {
   color: #FFFFFF !important;
   font-weight: 700 !important;
}

.nav-list button,
.header-content-btn,
.daily-btn,
.started-btn,
.btn-nav {
   color: #FFFFFF;
   background: #813FFA;
   border: none;
   border-radius: 4px;
   transition: transform 0.3s ease;
   animation: bounce 1s infinite;
   cursor: pointer;
   padding: 14px 35px;
}

.nav-list button:hover,
.header-content-btn:hover,
.daily-btn:hover,
.started-btn:hover,
.mini-game:hover,
.btn-nav:hover {
   animation: shake 0.8s infinite;
}

.nav-language {
   display: flex;
   align-items: center;
   gap: 8px;
   cursor: pointer;
}

.nav-language i {
   color: #858997;
}

.fa-bars {
   display: none;
}

/* HEADER CONTENT */

.header-content {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 100px;
   padding-top: 230px;
}

.header-body {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.header-text {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   gap: 50px;
}

.header-title {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.header-title h2 {
   font-size: 60px;
   font-weight: 600;
   color: #FFFFFF;
   line-height: normal;
}

.header-content-btn {
   width: fit-content;
   padding: 20px 70px;
}

.header-body img {
   width: 50%;
}

/* METHOD */

.header-method {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.header-currency,
.header-contact {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.currency-title,
.contact-title,
.event-text h4 {
   font-size: 24px;
   font-weight: 700;
   color: #FFFFFF;
   line-height: normal;
}

.currency-title {
   text-align: left;
}

.contact-title {
   text-align: right;
}

.header-currency ul {
   display: flex;
   align-items: center;
   gap: 28px;
}

.header-contact ul {
   display: flex;
   align-items: center;
   gap: 16px;
}

.header-currency img,
.header-contact img {
   width: 60px;
   height: 60px;
}

.header-contact li,
.ft-contact li {
   transition: all 0.3s ease;
}

.header-contact li:hover,
.ft-contact li:hover {
   transform: translateY(-5px);
}

/* MAIN */

main {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   gap: 140px;
}

.event {
   display: flex;
   flex-direction: column;
   gap: 140px;
   margin-bottom: 60px;
}

.event-list {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

#why-coco,
#events,
#bonuses {
   padding-top: 80px;
}

.event-item {
   width: calc((100% - 200px) / 3);
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 4px;
   background: rgba(38, 34, 62, 0.70);
   border: 1px solid #813FFA;
   border-radius: 30px;
   box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15);
   backdrop-filter: blur(4px);
   padding: 20px;
}

.event-item img {
   width: 160px;
   height: 160px;
}

.event-text {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.event-text h4,
.event-text span {
   text-align: center;
}

.event-text span {
   font-size: 16px;
   cursor: auto;
}

/* CRYPTO */

.crypto {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 60px;
}

.crypto h3 {
   font-size: 54px;
   font-weight: 700;
   color: #FFFFFF;
   text-align: center;
   line-height: normal;
   text-transform: capitalize;
}

.crypto h3 span {
   color: #EFC516;
}

.mb-100 {
   margin-bottom: 100px;
}

/* DAILY */

.daily-title {
   max-width: 1045px;
}

.daily-item {
   width: calc((100% - 90px) / 2);
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.daily-item img {
   width: 100%;
}

.daily-text {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.daily-text h4 {
   font-size: 34px;
   font-weight: 700;
   color: #FFFFFF;
   line-height: normal;
}

.daily-text span {
   font-size: 16px;
   font-weight: 500;
   color: #858997;
   line-height: normal;
   min-height: 30px;
}

/* LOVE */

.love {
   padding-bottom: 170px;
}

.love-content {
   display: flex;
   flex-direction: column;
   gap: 140px;
}

.crypto ul {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.crypto ul li {
   width: calc((100% - 75px) / 4);
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.crypto ul h5 {
   font-size: 24px;
   font-weight: 700;
   color: #FFFFFF;
   text-align: center;
   line-height: normal;
}

/* STARTED */

.started {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.started h3 {
   font-size: 42px;
   font-weight: 700;
   color: #FFFFFF;
   line-height: normal;
   text-transform: capitalize;
}

.started-btn {
   padding: 20px 60px;
   margin: 30px 0 16px;
}

.started span {
   font-size: 24px;
   font-weight: 500;
   color: #FFFFFF;
   line-height: normal;
}

/* FOOTER */

footer {
   width: 100%;
   background: #110915;
   display: flex;
   flex-direction: column;
   padding: 60px 0;
}

.ft-content {
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.ft-list {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0 150px;
}

.ft-item {
   width: calc((100% - 100px) / 4);
}

.ft-item,
.ft-item ul {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.ft-item a,
.ft-logo p {
   font-size: 16px;
   font-weight: 400;
   color: #858997;
   line-height: normal;
}

.ft-item h6 a {
   font-weight: 500;
   color: #FFFFFF;
}

.ft-item a:hover {
   color: #FFFFFF;
}

.rng {
   margin-top: 40px;
}

.rng li,
.ft-contact span,
.ft-bottom button span {
   font-size: 16px;
   font-weight: 700;
   color: #FFFFFF;
   line-height: normal;
}

.ft-item img {
   width: 80px;
   height: 80px;
}

.line {
   height: 1px;
   background-color: #2A394A;
}

/* FT BOTTOM */

.ft-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 150px;
}

.ft-logo {
   max-width: 46%;
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.ft-logo a {
   width: fit-content;
}

.ft-logo img {
   width: 200px;
   height: 92px;
}

.ft-contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 12px;
}

.ft-contact ul {
   display: flex;
   gap: 24px;
}

.ft-contact img {
   width: 40px;
   height: 40px;
}

.ft-bottom button {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 13px;
   background: #323646;
   border-radius: 20px;
   border: none;
   cursor: pointer;
   padding: 20px;
}

.ft-bottom button img {
   width: 40px;
   height: 40px;
}

/* ANIMATION */

@keyframes bounce {

   0%,
   100% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-4px);
   }
}

@keyframes shake {
   0% {
      transform: translateX(0);
   }

   20% {
      transform: translateX(-2px) rotate(-2deg);
   }

   40% {
      transform: translateX(2px) rotate(2deg);
   }

   60% {
      transform: translateX(-2px) rotate(-2deg);
   }

   80% {
      transform: translateX(2px) rotate(2deg);
   }

   100% {
      transform: translateX(0) rotate(0);
   }
}
